@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: futura;
    src: url(../fonts/FuturaStd-Condensed.otf);
}

@font-face {
    font-family: futura-bold;
    src: url(../fonts/FuturaStd-CondensedBold.otf);
}

@font-face {
    font-family: futura-light;
    src: url(../fonts/FuturaStd-CondensedLight.otf);
}

@font-face {
    font-family: futura-extrabold;
    src: url(../fonts/FuturaStd-CondensedExtraBd.otf);
}


/* * * * * * * * * BODY * * * * * * * * */

body {
    font-family: 'DM sans';
    font-size: 20px;
    line-height: 135%;
    font-weight: 200;
    background-image: url(../images/intro/background-paper.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
}


@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        line-height: 18px;
    }
}
/* * * * * * * * * BODY * * * * * * * * */




/* * * * * * * * * BACKGROUND ET COLORS * * * * * * * * */
.bg-red {
    background-color: #FF3D00;
}

.red {
    color: #FF3D00;
}


.bg-gray {
    background-color: #959382;
}

.bg-black-custom {
    background-color: #363636;
}

.bg-paper {
    background-image: url(../images/intro/background-paper.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

/* * * * * * * * * BACKGROUND ET COLORS * * * * * * * * */




/* * * * * * * * * FONTS * * * * * * * * */
.modak {
    font-family: 'Modak';
}

.aboreto {
    font-family: 'Aboreto'
}

.angie {
    font-family: 'Angie Sans Std'
}

.futura-extrabold {
    font-family: 'futura-extrabold';
}

.futura-bold {
    font-family: 'futura-bold';
}

.futura {
    font-family: 'futura';
}
/* * * * * * * * * FONTS * * * * * * * * */




/* * * * * * * * * GSAP * * * * * * * * */
.wrapper {
    width: 1000%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}


section {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}
/* * * * * * * * * GSAP * * * * * * * * */






/* * * * * * * * * INTRO * * * * * * * * */
.intro {
    display: flex;
    z-index: 2;
}


.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right {
    width: 60%;
    height: 100vh;
}


.right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name {
    font-size: 150px;
}
/* * * * * * * * * INTRO * * * * * * * * */









img {
    width: 100%;
}






.notes {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 52%;
    background: url('../images/intro/background-paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    height: 480px;
    transition: bottom 1s ease-in-out;
}

.notes.active {
    bottom: 0
}

.notes .text {
    font-weight: 200;
    font-size: 16px;
}







header {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    transition: all 0.8s ease-in-out;
}




